@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor

<div class="page">
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/dark.css">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />